# Ignore all executables and the working vscode directory
.vscode/
.VSCodeCounter/
*.exe
*.o

# Ignore debug files and execs
log.unix.txt
log.win.txt
utils.debug.h
minesweeper.win.exe
minesweeper.unix.o

# Ignore drafting files
.draft.*

# Don't ignore the build files
!build/
