# Ignore all executables and the working vscode directory
.vscode/
.VSCodeCounter/
*.exe
*.o

# Ignore debug files
debug.txt
log.unix.txt
log.win.txt
utils.debug.h

# Ignore drafting files
.draft.*

# Don't ignore the build files
!build/
